.grid-wrapper{
background: #272634;
}

html {
  background-color: rgb(39, 38, 52);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.content{
 border-radius: 10px;
 margin: auto;
 background-color: rgb(215, 204, 204);
 width: 90rem;
}


.btn {
  margin-top: 0.25rem;
  border: 3px solid var(--nav-background-color);
  border-radius: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #6ca949;
  color: #0f0f0f;
  font-size: 16px;
  }

.message__avatar {
  display: none;
}

.post__avatar {
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 7px;
}

.pbox--small {
  padding: 0.1rem;
  background: #27263452;
}

.block__title {
  background-color: var(--nav-background-color);
  color: #70b6f3;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-radius: 7px 7px 0 0;
  text-align: center;
}

.block__title::before {
  content: "🔘";
  font-weight: 900;
  color: #88c0d0;
  font-size: 16px;
  opacity: 50%;
}
.message__text {
  padding: 0.5em;
  width: 100%;
  background: #c7c5e3;
  font-size: 16px;
  color: #0c0b0c;
}

.post__message {
  border: 1px solid black;
  border-left: unset;
  background: #e1e1e1;
}

.post__info {
  min-height: 15rem;
  border: 1px solid black;
}

.decoda-quote-body {
  border-left: 4px solid black;
  margin-left: 0.5rem;
  padding-left: 0.55rem;
  background: #9d9797;
  border-radius: 7px;
}

.message__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  padding-left: 0.5rem;
  border-right: var(--main-border);
  flex-shrink: 0;
  background: #d4d4d4;
}

.f-display-topic-stats {
  background: #272634;
  color: sandybrown;
  text-align: -webkit-center;
}

.f-display-topic-icon {
  border-radius: 13px 0 0 10px;
  display: flex;
}

.pbox.pbox--small-bottom.pbox--small-top {
  background: #272634;
  color: #29a9a9;
  padding: 12px;
  font-weight: 300;
  font-size: 15px;
}

.f-display-topic-started::before{
  content: " "; 
}


.f-display-topic-started::before {
  content: "👤";
  font-size: 10px !important;
  vertical-align: 2px;
}

.block__content {
  border: 2px solid var(--nav-background-color);
  padding: 0;
}

.table--bordered tbody > tr, .table--bordered-big tbody > tr {
  border-top: 2px solid #615f7d;
}

.pagination {
  color: #615f7d;
  align-content: center;
  display: inline-flex;
  text-align: -moz-left;
}

.f-display-topic-started {
  background: #615f7d;
  text-align: -moz-right;
}

.v-checkbox > span {
  width: 10px;
  height: 10px;
  display: inline-flex;
  border: 2px solid var(--nav-background-color);
  border-radius: 1em;
  margin: 1px;
}

.mbox.mbox--small-top {
  background: #5787b4;
  display: grid;
  padding: 0px 3px;
  border-radius: 5px;
}
