/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕𝘛𝘩𝘦𝘮𝘦 Concertos : 𝘓𝘢𝘴𝘵 𝘜𝘱𝘥𝘢𝘵𝘦: 10/10/2025
▫️By : @𝙎𝙚𝙧𝙖𝙥𝙝4
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

html {
  background-color: rgb(39, 38, 52);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.grid-wrapper {
  background: #272634;
}

.nav {
  display: flex;
  background-color: var(--nav-background-color);
  grid-column: start / end;
  grid-row: nav-top / info-bar-top;
  justify-content: center;
  align-items: center;
  color: var(--nav-color);
  font-size: 17px;
}

.content {
  border-radius: 10px;
  margin: auto;
  background-color: rgb(215, 204, 204);
  width: 90rem;
}
.block__title{
  font-family: JetBrains Mono
}
.btn {
  margin-top: 0.25rem;
  border: 3px solid var(--nav-background-color);
  border-radius: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #6ca949;
  color: #0f0f0f;
  font-size: 16px;
  margin-bottom: 3px;
  margin-left: 10px;
}

.message__avatar {
  display: none;
}

.message__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  padding-left: 0.5rem;
  border-right: var(--main-border);
  flex-shrink: 0;
  background: #d4d4d4;
}

.message__text {
  padding: 0.5em;
  width: 100%;
  background: #c7c5e3;
  font-size: 16px;
  color: #0c0b0c;
}

.post__avatar {
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 7px;
}

.post__message {
  border: 1px solid black;
  border-left: unset;
  background: #e1e1e1;
}

.post__info {
  min-height: 15rem;
  border: 1px solid black;
}

.post__user-title {
  word-break: break-all;
  background: #2c323d;
  max-width: max-content;
  padding: 0px 1px;
  border-radius: 2px;
  border: 1px solid #262c36;
  color: #6ca949;
}

.pbox--small {
  padding: 0.1rem;
  background: #27263452;
}

.pbox.pbox--small-bottom.pbox--small-top {
  background: #272634;
  color: #29a9a9;
  padding: 12px;
  font-weight: 300;
  font-size: 15px;
}

.block__title {
  background-color: var(--nav-background-color);
  color: #70b6f3;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-radius: 7px 7px 0 0;
  text-align: center;
}

.block__title::before {
  content: "🔘";
  font-weight: 900;
  color: #88c0d0;
  font-size: 16px;
  opacity: 50%;
}

.block__content {
  border: 2px solid var(--nav-background-color);
  padding: 0;
}

.decoda-quote-body {
  border-left: 4px solid black;
  margin-left: 0.5rem;
  padding-left: 0.55rem;
  background: #9d9797;
  border-radius: 7px;
}

.f-display-topic-stats {
  background: #272634;
  color: sandybrown;
  text-align: center;
}

.f-display-topic-icon {
  border-radius: 13px 0 0 10px;
  display: flex;
}

.f-display-topic-started {
  background: #615f7d;
  text-align: right;
}

.f-display-topic-started::before {
  content: "👤";
  font-size: 10px !important;
  vertical-align: 2px;
}

.table--bordered tbody>tr,
.table--bordered-big tbody>tr {
  border-top: 2px solid #615f7d;
}

.table--bordered tbody tr>td {
  padding: 7px !important;
  font-size: 14px !important;
}

.pagination {
  color: #615f7d;
  align-content: center;
  display: inline-flex;
  text-align: left;
}

.v-checkbox > span {
  width: 10px;
  height: 10px;
  display: inline-flex;
  border-radius: 1em;
  margin: 1px;
  vertical-align: sub;
}

.mbox.mbox--small-top {
  background: #5787b4;
  display: grid;
  padding: 0px 3px;
  border-radius: 5px;
}

.mbox--mini-right {
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 2px;
  background: #272634;
  color: #d7cccc;
  font-size: 15px;
  font-weight: 500;
}

.sceditor-container.wysiwygMode.ltr {
  width: auto !important;
  height: 126.2px !important;
}

.logo__symbol {
  margin-left: 0.25rem;
  background: #000;
  border-radius: 10px;
  padding: 1px;
  color: #f3f3f3;
  width: max-content !important;
}

.logo__symbol::after {
  content: "- 𝙁𝙤𝙧 𝙩𝙝𝙚 𝙡𝙤𝙫𝙚 𝙤𝙛 𝙢𝙪𝙨𝙞𝙘";
  color: #eff36a;
  background: #3f3e4f;
  padding: 0px 5px;
  border-radius: 0 10px 10px 0px;
}

.torrent td:first-child {
  width: 8rem;
  padding-bottom: 1.1rem;
  background: #272634db;
  color: #d7d7d8;
}

.user-info {
  display: flex;
  grid-column: nav-right / end;
  grid-row: info-bar-top / nav-top;
  color: #fff;
  justify-content: right;
  align-items: center;
  background: #3b4e6b;
  padding: 0px 8px;
  border-radius: 9px;
  margin: auto;
}

.fa-heart::before {
  content: "\f004";
  color: #d52a2a;
}

.fa-arrow-down::before {
  content: "\f063";
  color: #1cb117;
}

.fa-id-badge::before {
  content: "\f2c1";
  color: #f94343;
}

.fa-music::before {
  content: "🎵";
}

.fa-arrow-up::before {
  content: "\f062";
  color: steelblue;
}

/*
░░░░░░░░░░░
"𝘉𝘰𝘯𝘪𝘴 𝘯𝘰𝘤𝘦𝘵, 𝘲𝘶𝘪 𝘮𝘢𝘭𝘪𝘴 𝘱𝘢𝘳𝘤𝘪𝘵."
░░░░░░░░░░░
*/



