.grid-wrapper{
 background: #272634;
}

html {
  background-color: rgb(39, 38, 52);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.content{
 border-radius: 10px;
}

.btn {
  margin-top: 0.25rem;
  border: 3px solid var(--nav-background-color);
  border-radius: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #6ca949;
  color: #0f0f0f;
  font-size: 16px;
}
